- page_title "派生项目"

.row.prepend-top-default
  .col-lg-3
    %h4.prepend-top-0
      派生项目
    %p
      派生是创建项目仓库的副本。
      %br
      派生的仓库允许你在不影响原有项目的情况下修改新内容。
  .col-lg-9
    .fork-namespaces
      - if @namespaces.present?
        %label.label-light
          %span
            点击派生项目到用户或群组
          - @namespaces.in_groups_of(6, false) do |group|
            .row
              - group.each do |namespace|
                - avatar = namespace_icon(namespace, 100)
                - if fork = namespace.find_fork_of(@project)
                  .fork-thumbnail.forked
                    = link_to project_path(fork) do
                      - if /no_((\w*)_)*avatar/.match(avatar)
                        .no-avatar
                          = icon 'question'
                      - else
                        = image_tag avatar
                      .caption
                        = namespace.human_name
                - else
                  .fork-thumbnail
                    = link_to project_forks_path(@project, namespace_key: namespace.id), method: "POST" do
                      - if /no_((\w*)_)*avatar/.match(avatar)
                        .no-avatar
                          = icon 'question'
                      - else
                        = image_tag avatar
                      .caption
                        = namespace.human_name
      - else
        %label.label-light
          %span
            没有可用的命名空间来派生项目
            %br
            %small
              在派生之前，你必须拥有在命名空间中创建项目的权限。

    .save-project-loader.hide
      .center
        %h2
          %i.fa.fa-spinner.fa-spin
          正在派生仓库
        %p 请稍侯，本页面将在准备好后自动刷新。
