- @no_container = true
- add_to_breadcrumbs "Compare Revisions", project_compare_index_path(@project)
- page_title "#{params[:from]}...#{params[:to]}"
= render "projects/commits/head"

%div{ class: container_class }
  .sub-header-block.no-bottom-space
    = render "form"

  - if @commits.present?
    = render "projects/commits/commit_list"
    = render "projects/diffs/diffs", diffs: @diffs, environment: @environment
  - else
    .light-well
      .center
        %h4
          没有内容需要比较。
        %p.slead
          - if params[:to] == params[:from]
            %span.ref-name= params[:from]
            与
            %span.ref-name= params[:to]
            内容一致。
          - else
            需要选择不同的分支用于比较。
