- breadcrumb_title "Details"
- @no_container = true

= render 'head'
= render 'groups/home_panel'

.groups-header{ class: container_class }
  .top-area
    = render 'groups/show_nav'
    .nav-controls
      = form_tag request.path, method: :get do |f|
        = search_field_tag :filter_groups, params[:filter_groups], placeholder: '按名称过滤', class: 'form-control', spellcheck: false
      - if can?(current_user, :create_subgroup, @group)
        = link_to new_group_path(parent_id: @group.id), class: 'btn btn-new pull-right' do
          新建子群组

  - if @nested_groups.present?
    %ul.content-list
      = render partial: 'shared/groups/group', collection: @nested_groups, locals: { full_name: false }
  - else
    .nothing-here-block
      没有子群组可以显示。
