- @content_class = "limit-container-width" unless fluid_layout
- page_title "CI / CD 设置"
- page_title "CI / CD"

= render "projects/settings/head"

- expanded = Rails.env.test?

%section.settings#js-general-pipeline-settings
  .settings-header
    %h4
      常规流水线设置
    %button.btn.js-settings-toggle
      = expanded ? '收起' : '展开'
    %p
      更新您的 CI/CD 配置，比如作业超时或者 Auto DevOps.
  .settings-content.no-animate{ class: ('expanded' if expanded) }
    = render 'projects/pipelines_settings/show'

%section.settings
  .settings-header
    %h4
      Runners 设置
    %button.btn.js-settings-toggle
      = expanded ? '收起' : '展开'
    %p
      注册和查看本项目的 runner
  .settings-content.no-animate{ class: ('expanded' if expanded) }
    = render 'projects/runners/index'

%section.settings
  .settings-header
    %h4
      安全变量
      = link_to icon('question-circle'), help_page_path('ci/variables/README', anchor: 'secret-variables'), target: '_blank'
    %button.btn.js-settings-toggle
      = expanded ? '收起' : '展开'
    %p
      = render "ci/variables/content"
  .settings-content.no-animate{ class: ('expanded' if expanded) }
    = render 'ci/variables/index'

%section.settings
  .settings-header
    %h4
      流水线触发器
    %button.btn.js-settings-toggle
      = expanded ? '收起' : '展开'
    %p
      Triggers can force a specific branch or tag to get rebuilt with an API call.  These tokens will
      impersonate their associated user including their access to projects and their project
      permissions.
  .settings-content.no-animate{ class: ('expanded' if expanded) }
    = render 'projects/triggers/index'
