- @breadcrumb_link = dashboard_projects_path
- breadcrumb_title "项目"
- @hide_top_links = true
- page_title    '新建项目'
- header_title  "项目", dashboard_projects_path
- visibility_level = params.dig(:project, :visibility_level) || default_project_visibility
- content_for :page_specific_javascripts do
  = webpack_bundle_tag 'project_new'

.project-edit-container
  .project-edit-errors
    = render 'projects/errors'
  .row.prepend-top-default
    .col-lg-3.profile-settings-sidebar
      %h4.prepend-top-0
        新建项目
      - if import_sources_enabled?
        %p
          创建或者从其它流行的 Git 服务导入项目
    .col-lg-9.js-toggle-container
      = form_for @project, html: { class: 'new_project' } do |f|
        .create-project-options
          .first-column
            .project-template
              .form-group
                = f.label :template_project, class: 'label-light' do
                  从模板创建
                  = link_to icon('question-circle'), help_page_path("gitlab-basics/create-project"), target: '_blank', aria: { label: "模板包含了什么？" }, title: "模板包含了什么？", class: 'has-tooltip', data: { placement: 'top'}
                %div
                  = render 'project_templates', f: f
          - if import_sources_enabled?
            .second-column
              .project-import
                .form-group.clearfix
                  = f.label :visibility_level, class: 'label-light' do #the label here seems wrong
                    导入项目
                  .col-sm-12.import-buttons
                    %div
                      - if github_import_enabled?
                        = link_to new_import_github_path, class: 'btn import_github' do
                          = icon('github', text: 'GitHub')
                    %div
                      - if bitbucket_import_enabled?
                        = link_to status_import_bitbucket_path, class: "btn import_bitbucket #{'how_to_import_link' unless bitbucket_import_configured?}" do
                          = icon('bitbucket', text: 'Bitbucket')
                        - unless bitbucket_import_configured?
                          = render 'bitbucket_import_modal'
                    %div
                      - if gitlab_import_enabled?
                        = link_to status_import_gitlab_path, class: "btn import_gitlab #{'how_to_import_link' unless gitlab_import_configured?}" do
                          = icon('gitlab', text: 'GitLab.com')
                        - unless gitlab_import_configured?
                          = render 'gitlab_import_modal'
                    %div
                      - if google_code_import_enabled?
                        = link_to new_import_google_code_path, class: 'btn import_google_code' do
                          = icon('google', text: 'Google Code')
                    %div
                      - if fogbugz_import_enabled?
                        = link_to new_import_fogbugz_path, class: 'btn import_fogbugz' do
                          = icon('bug', text: 'Fogbugz')
                    %div
                      - if gitea_import_enabled?
                        = link_to new_import_gitea_url, class: 'btn import_gitea' do
                          = custom_icon('go_logo')
                          Gitea
                    %div
                      - if git_import_enabled?
                        %button.btn.js-toggle-button.import_git{ type: "button" }
                          = icon('git', text: '其它仓库链接')
                    - if gitlab_project_import_enabled?
                      .import_gitlab_project.has-tooltip{ data: { container: 'body' } }
                        = link_to new_import_gitlab_project_path, class: 'btn btn_import_gitlab_project project-submit' do
                          = icon('gitlab', text: 'GitLab export')

        .row
          .col-lg-12
            .js-toggle-content.hide
              %hr
                = render "shared/import_form", f: f
        %hr

        .row
          .form-group.col-xs-12.col-sm-6
            = f.label :namespace_id, class: 'label-light' do
              %span
                项目路径
            .form-group
              .input-group
                - if current_user.can_select_namespace?
                  .input-group-addon
                    = root_url
                  = f.select :namespace_id, namespaces_options(namespace_id_from(params) || :current_user, display_path: true, extra_group: namespace_id_from(params)), {}, { class: 'select2 js-select-namespace', tabindex: 1}

                - else
                  .input-group-addon.static-namespace
                    #{root_url}#{current_user.username}/
                  = f.hidden_field :namespace_id, value: current_user.namespace_id
          .form-group.col-xs-12.col-sm-6.project-path
            = f.label :path, class: 'label-light' do
              %span
                项目名称
            = f.text_field :path, placeholder: "my-awesome-project", class: "form-control", tabindex: 2, autofocus: true, required: true
        - if current_user.can_create_group?
          .help-block
            希望将几个相关联的项目放置于同一个命名空间下？
            = link_to "创建群组", new_group_path

        .form-group
          = f.label :description, class: 'label-light' do
            项目描述
            %span.light (可选)
          = f.text_area :description, placeholder: '说明格式',  class: "form-control", rows: 3, maxlength: 250

        .form-group.visibility-level-setting
          = f.label :visibility_level, '可见等级', class: 'label-light' do
            可见等级
            = link_to icon('question-circle'), help_page_path("public_access/public_access"), aria: { label: 'Documentation for Visibility Level' }
          = render 'shared/visibility_level', f: f, visibility_level: visibility_level.to_i, can_change_visibility_level: true, form_model: @project, with_label: false

        = f.submit '创建项目', class: "btn btn-create project-submit", tabindex: 4
        = link_to '取消', dashboard_projects_path, class: 'btn btn-cancel'

.save-project-loader.hide
  .center
    %h2
      %i.fa.fa-spinner.fa-spin
      正在创建项目 &amp; 版本库。
    %p 请稍候，页面会处理完成后自动刷新。
