- @content_class = "limit-container-width" unless fluid_layout
- breadcrumb_title "集成 设置"
- page_title '集成'
= render "projects/settings/head"
= render 'projects/hooks/index'
= render 'projects/services/index'
