- commit = @repository.commit(branch.dereferenced_target)
- bar_graph_width_factor = @max_commits > 0 ? 100.0/@max_commits : 0
- diverging_commit_counts = @repository.diverging_commit_counts(branch)
- number_commits_behind = diverging_commit_counts[:behind]
- number_commits_ahead = diverging_commit_counts[:ahead]
- merge_project = can?(current_user, :create_merge_request, @project) ? @project : (current_user && current_user.fork_of(@project))
%li{ class: "js-branch-#{branch.name}" }
  %div
    = link_to project_tree_path(@project, branch.name), class: 'item-title str-truncated ref-name' do
      = icon('code-fork')
      = branch.name
    &nbsp;
    - if branch.name == @repository.root_ref
      %span.label.label-primary 默认
    - elsif @repository.merged_to_root_ref? branch.name
      %span.label.label-info.has-tooltip{ title: "已合并到 #{@repository.root_ref}" }
        已合并的

    - if protected_branch?(@project, branch)
      %span.label.label-success
        保护的
    .controls.hidden-xs<
      - if merge_project && create_mr_button?(@repository.root_ref, branch.name)
        = link_to create_mr_path(@repository.root_ref, branch.name), class: 'btn btn-default' do
          合并请求

      - if branch.name != @repository.root_ref
        = link_to project_compare_index_path(@project, from: @repository.root_ref, to: branch.name), class: "btn btn-default #{'prepend-left-10' unless merge_project}", method: :post, title: "比较" do
          比较

      = render 'projects/buttons/download', project: @project, ref: branch.name, pipeline: @refs_pipelines[branch.name]

      - if can?(current_user, :push_code, @project)
        - if branch.name == @project.repository.root_ref
          %button{ class: "btn btn-remove remove-row js-ajax-loading-spinner has-tooltip disabled",
            disabled: true,
            title: "不允许删除默认分支" }
            = icon("trash-o")
        - elsif protected_branch?(@project, branch)
          - if can?(current_user, :delete_protected_branch, @project)
            %button{ class: "btn btn-remove remove-row js-ajax-loading-spinner has-tooltip",
              title: "删除保护分支",
              data: { toggle: "modal",
                target: "#modal-delete-branch",
                delete_path: project_branch_path(@project, branch.name),
                branch_name: branch.name } }
              = icon("trash-o")
          - else
            %button{ class: "btn btn-remove remove-row js-ajax-loading-spinner has-tooltip disabled",
              disabled: true,
              title: "只有项目拥有者或者主程序员才能删除保护分支" }
              = icon("trash-o")
        - else
          = link_to project_branch_path(@project, branch.name),
            class: "btn btn-remove remove-row js-ajax-loading-spinner has-tooltip",
            title: "删除分支",
            method: :delete,
            data: { confirm: "分支 '#{branch.name}' 删除后将无法恢复。确定要继续？" },
            remote: true,
            "aria-label" => "Delete branch" do
            = icon("trash-o")

    - if branch.name != @repository.root_ref
      .divergence-graph{ title: "比 #{@repository.root_ref} 落后 #{number_commits_behind} 次提交，超前 #{number_commits_ahead} 次提交" }
        .graph-side
          .bar.bar-behind{ style: "width: #{number_commits_behind * bar_graph_width_factor}%" }
          %span.count.count-behind= number_commits_behind
        .graph-separator
        .graph-side
          .bar.bar-ahead{ style: "width: #{number_commits_ahead * bar_graph_width_factor}%" }
          %span.count.count-ahead= number_commits_ahead


  - if commit
    = render 'projects/branches/commit', commit: commit, project: @project
  - else
    %p
      无法在本分支找到 HEAD 提交
