- @no_container = true
- page_title "流水线"
= render "projects/pipelines/head"

%div{ 'class' => container_class }
  - if show_auto_devops_callout?(@project)
    = render 'shared/auto_devops_callout'

  #pipelines-list-vue{ data: { endpoint: project_pipelines_path(@project, format: :json),
    "help-page-path" => help_page_path('ci/quick_start/README'),
    "help-auto-devops-path" => help_page_path('topics/autodevops/index.md'),
    "new-pipeline-path" => new_project_pipeline_path(@project),
    "can-create-pipeline" => can?(current_user, :create_pipeline, @project).to_s,
    "all-path" =>  project_pipelines_path(@project),
    "pending-path" => project_pipelines_path(@project, scope: :pending),
    "running-path" => project_pipelines_path(@project, scope: :running),
    "finished-path" => project_pipelines_path(@project, scope: :finished),
    "branches-path" => project_pipelines_path(@project, scope: :branches),
    "tags-path" => project_pipelines_path(@project, scope: :tags),
    "has-ci" => @project.has_ci?,
    "ci-lint-path" => ci_lint_path } }

  = page_specific_javascript_bundle_tag('common_vue')
  = page_specific_javascript_bundle_tag('pipelines')
